<body>
    <div class="header">
        <h2>Promena lozinke</h2>
    </div>
<div class="card">
<table>
    <tr>
        <td>Stara lozinka:</td>
        <td>
            <input type='password' name='stara' [(ngModel)]='stara' >
        </td>
    </tr>
    <tr>
        <td>Nova lozinka:</td>
        <td>
            <input type='password' name='lozinka1' [(ngModel)]='lozinka1' >
        </td>
    </tr>
    <tr>
        <td>Nova lozinka:</td>
        <td>
            <input type='password' name='lozinka2' [(ngModel)]='lozinka2' >
        </td>
    </tr>
    <tr>
        <td colspan='2'>
            <button (click)="change()">Promeni</button>
        </td>
    </tr>
</table>
</div>
<div class="footer">

</div>
</body>